body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

th {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

.highlight {
  background-color: #ffbf00;

}

dialog {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;

  margin: 0;
  background-color: #f0f0f0;
  border: 4px solid #ffbf00;
  border-radius: 0 20px 20px 0;




}
